* {
  box-sizing: border-box; }

html {
  font-size: 1rem; }

body {
  background: #f8f9fa;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

.navbar a {
  color: #dc3545 !important;
  letter-spacing: 1px; }
  .navbar a:hover {
    color: #f46a60 !important; }

.navbar .nav-item a {
  text-decoration: none;
  color: #dc3545 !important; }
  .navbar .nav-item a:hover {
    color: #f46a60 !important; }

.showcase {
  background-image: url("../images/home-bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 37rem;
  position: relative;
  width: 100%; }
  .showcase .primary-overlay {
    align-content: center;
    display: grid;
    background: rgba(142, 60, 68, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .showcase h1, .showcase .lead {
    align-self: center;
    font-family: "Alegreya Sans", sans-serif;
    height: 100%;
    letter-spacing: 1px;
    margin: auto;
    width: 70%; }

.info-card .card {
  box-shadow: -25px 12px 46px 0 rgba(0, 0, 0, 0.27);
  border: 1px solid #dc3545 !important;
  border-radius: 0;
  margin: -60px auto 30px; }
  .info-card .card .card-title {
    font-family: "Alegreya Sans", sans-serif;
    color: #dc3545; }
  .info-card .card .btn {
    background-color: #dc3545;
    border-radius: 0; }

.carousel .slider {
  margin: 0 auto;
  width: 80%; }
  .carousel .slider .fa-arrow-circle-right {
    right: -60px; }
  .carousel .slider .fa-arrow-circle-left {
    left: -60px; }
  .carousel .slider .fa-arrow-circle-right, .carousel .slider .fa-arrow-circle-left {
    font-size: 2rem;
    padding: 0;
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(0, -50%);
    cursor: pointer; }
  .carousel .slider .slider-image {
    max-width: 100%; }
    .carousel .slider .slider-image img {
      align-items: center;
      pointer-events: visible;
      cursor: pointer;
      max-height: 100%;
      max-width: 100%; }
