.contactform {
  background: rgba(82, 75, 76, 0.3); }
  .contactform .active {
    border-bottom: 1px solid #f46a60; }
  .contactform .contact {
    color: #dc3545;
    height: 100%;
    margin-top: 2rem;
    min-height: 45rem; }
    .contactform .contact input {
      border-radius: 0.2rem !important; }
    .contactform .contact .btn {
      background-color: #dc3545;
      color: #fff;
      border-radius: 0%; }
      .contactform .contact .btn:hover {
        background-color: #fff;
        color: #dc3545 !important;
        border: 1px solid #dc3545; }

* {
  background-color: rgba(0, 255, 0, 0.1);
  box-sizing: border-box; }

html {
  font-size: 1rem; }

body {
  background: #f8f9fa;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: 5px solid cyan; }

.navbar {
  border: 5px solid pink;
  background: transparent;
  transition: background 500ms;
  opacity: 0.9; }
  .navbar a {
    color: white;
    letter-spacing: 1px; }
    .navbar a:hover {
      cursor: pointer; }
  .navbar .nav-item a {
    text-decoration: none;
    color: white; }
    .navbar .nav-item a:hover {
      color: #f46a60 !important;
      border-bottom: 1px solid #f46a60; }

.showcase {
  border: 5px solid red;
  background-image: url("../images/home-bg.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 45rem;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .showcase .primary-overlay {
    align-content: center;
    background: rgba(82, 75, 76, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .showcase .display {
    margin-top: 15rem; }
    .showcase .display h1, .showcase .display .lead {
      align-self: center;
      font-family: "Alegreya Sans", sans-serif;
      height: 65%;
      letter-spacing: 1px;
      margin: auto;
      width: 100%; }

.carousel {
  top: 49rem; }
  .carousel .slider {
    margin: 0 auto;
    width: 80%; }
    .carousel .slider .fa-arrow-circle-right {
      right: -60px; }
    .carousel .slider .fa-arrow-circle-left {
      left: -60px; }
    .carousel .slider .fa-arrow-circle-right, .carousel .slider .fa-arrow-circle-left {
      font-size: 2rem;
      padding: 0;
      position: absolute;
      top: 50%;
      display: block;
      transform: translate(0, -50%);
      cursor: pointer; }
    .carousel .slider .slider-image {
      max-width: 100%; }
      .carousel .slider .slider-image img {
        align-items: center;
        pointer-events: visible;
        cursor: pointer;
        max-height: 100%;
        max-width: 100%; }

footer {
  background: black;
  font-family: 'Lato', sans-serif; }
  footer .fa {
    font-size: 1.4rem;
    color: #dc3545; }
  footer .footer-links1 a, footer .footer-links2 a {
    text-decoration: none;
    color: white; }
  footer .footer-links1 a {
    border-bottom: 1px solid #dc3545;
    padding-bottom: 3px;
    line-height: 2px; }
  footer .rights {
    font-size: 0.8rem; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
