* {
  box-sizing: border-box; }

html {
  font-size: 1rem; }

body {
  background: #f8f9fa;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

.navbar {
  background: transparent;
  transition: background 500ms;
  opacity: 0.9; }
  .navbar a {
    color: white;
    letter-spacing: 1px; }
    .navbar a:hover {
      cursor: pointer; }
  .navbar .nav-item a {
    text-decoration: none;
    color: white; }
    .navbar .nav-item a:hover {
      color: #f46a60 !important;
      border-bottom: 1px solid #f46a60; }

.showcase {
  background-image: url("../images/home-bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 45rem;
  position: relative;
  width: 100%; }
  .showcase .primary-overlay {
    align-content: center;
    display: grid;
    background: rgba(82, 75, 76, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .showcase h1, .showcase .lead {
    align-self: center;
    font-family: "Alegreya Sans", sans-serif;
    height: 100%;
    letter-spacing: 1px;
    margin: auto;
    width: 60%; }

.info-card .card, .info-card2 .card, .info-card3 .card, .info-card4 .card, .info-card5 .card {
  box-shadow: -25px 12px 46px 0 rgba(0, 0, 0, 0.27);
  border: 1px solid #dc3545 !important;
  border-radius: 0;
  margin: -60px auto 30px;
  opacity: 0.95; }
  .info-card .card .card-title, .info-card2 .card .card-title, .info-card3 .card .card-title, .info-card4 .card .card-title, .info-card5 .card .card-title {
    font-family: "Alegreya Sans", sans-serif;
    color: #dc3545; }
  .info-card .card .btn, .info-card2 .card .btn, .info-card3 .card .btn, .info-card4 .card .btn, .info-card5 .card .btn {
    background-color: #dc3545;
    border-radius: 0; }
    .info-card .card .btn:hover, .info-card2 .card .btn:hover, .info-card3 .card .btn:hover, .info-card4 .card .btn:hover, .info-card5 .card .btn:hover {
      background-color: #fff;
      color: #dc3545 !important;
      border: 1px solid #dc3545; }

.info-card2 {
  position: relative; }
  .info-card2:hover {
    animation-name: cardmove;
    animation-duration: 5s; }

@keyframes cardmove {
  from {
    left: 0px; }
  to {
    left: 100px; } }
  .info-card2 .info-card-image2 {
    border: none !important;
    margin: 1rem auto 0; }
    .info-card2 .info-card-image2 img {
      border-radius: 0;
      box-shadow: -25px 12px 46px 0 rgba(0, 0, 0, 0.27);
      position: absolute;
      z-index: 0; }
  .info-card2 .info-card-text {
    border: none !important;
    margin: 33rem 37rem 0;
    opacity: 0.95;
    position: absolute;
    z-index: 2; }

.info-card3 {
  position: relative; }
  .info-card3:hover {
    animation-name: cardmove2;
    animation-duration: 5s; }

@keyframes cardmove2 {
  from {
    right: 0px; }
  to {
    right: 90px; } }
  .info-card3 .info-card-image3 {
    border: none !important;
    margin: 50rem auto 0; }
    .info-card3 .info-card-image3 img {
      border-radius: 0;
      box-shadow: -25px 12px 46px 0 rgba(0, 0, 0, 0.27);
      position: absolute;
      z-index: 0; }
  .info-card3 .info-card-text {
    border: none !important;
    opacity: 0.95;
    position: absolute;
    margin: 23rem 6rem 0;
    z-index: 2; }

.info-card4 {
  margin: 60rem auto 0; }

.info-card5 {
  margin: 9rem auto 0; }
  .info-card5 .info-card-video {
    border: none !important;
    box-shadow: none;
    width: 100%; }
    .info-card5 .info-card-video .info-primary-overlay {
      align-content: center;
      border: none !important;
      display: grid;
      z-index: 1; }
      .info-card5 .info-card-video .info-primary-overlay video {
        border: none;
        box-shadow: -25px 12px 46px 0 rgba(0, 0, 0, 0.27);
        margin-left: -3em;
        z-index: 0;
        width: 110%; }
    .info-card5 .info-card-video .info-primary-overlay:before {
      content: '';
      position: absolute;
      background: rgba(82, 75, 76, 0.3);
      top: 0;
      right: -59px;
      bottom: 0;
      left: -49px;
      z-index: 1; }
  .info-card5 .info-card-text {
    border: none !important;
    margin: 15rem 41rem;
    opacity: 0.95;
    top: -27em; }

.carousel {
  top: 49rem; }
  .carousel .slider {
    margin: 0 auto;
    width: 80%; }
    .carousel .slider .fa-arrow-circle-right {
      right: -60px; }
    .carousel .slider .fa-arrow-circle-left {
      left: -60px; }
    .carousel .slider .fa-arrow-circle-right, .carousel .slider .fa-arrow-circle-left {
      font-size: 2rem;
      padding: 0;
      position: absolute;
      top: 50%;
      display: block;
      transform: translate(0, -50%);
      cursor: pointer; }
    .carousel .slider .slider-image {
      max-width: 100%; }
      .carousel .slider .slider-image img {
        align-items: center;
        pointer-events: visible;
        cursor: pointer;
        max-height: 100%;
        max-width: 100%; }

footer {
  font-family: 'Lato', sans-serif;
  background: black; }
  footer .fa {
    font-size: 1.3rem;
    color: #dc3545; }
  footer .footer-links1 a, footer .footer-links2 a {
    text-decoration: none;
    color: white; }
  footer .footer-links1 a {
    border-bottom: 1px solid #dc3545;
    padding-bottom: 3px;
    line-height: 2px; }
  footer .rights {
    font-size: 13px; }

.contact {
  margin-top: -36rem; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
