@import 'variables'; 

//INFO CARDS
.info-card, .info-card2, .info-card3, .info-card4, .info-card5{
	.card{
		box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
		border: 1px solid $border !important;
		border-radius: 0; 
		margin: -60px auto 30px;
		opacity: 0.95; 
		.card-title{
			font-family: $title-font;
			color: $lead-text;  
		} 
		.btn{
			background-color: $lead-bg; 
			border-radius: 0; 
			&:hover{
				background-color: #fff;
				color: $lead-text !important;
				border: 1px solid $border;   
			}
		}
	}
}

.info-card2{
	position: relative; 
	&:hover{
		animation-name: cardmove;
		animation-duration: 5s;
		@keyframes cardmove {
			from {left: 0px;}
			to {left: 100px;}
		}
	}
	.info-card-image2{
		border: none !important; 
		margin: 1rem auto 0;
		img{
			border-radius: 0; 
			box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
			position: absolute; 
			z-index: 0; 
		}	
	}
	.info-card-text{
		border: none !important; 
		margin: 33rem 37rem 0;
		opacity: 0.95; 
		position: absolute; 
		z-index: 2; 
	}
}


.info-card3{
	position: relative;
	&:hover{
		animation-name: cardmove2;
		animation-duration: 5s;
		@keyframes cardmove2 {
			from {right: 0px;}
			to {right: 90px;}
		}
	}
	.info-card-image3{
		border: none !important;
		margin: 50rem auto 0;  
		// position: relative; 
		img{
			border-radius: 0; 
			box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
			position: absolute; 
			z-index: 0; 
		}	
	}
	.info-card-text {
		border: none !important; 
		opacity: 0.95; 
		position: absolute;
		margin: 23rem 6rem 0;
		z-index: 2;  
	} 
}

.info-card4{
	margin: 60rem auto 0;
}

.info-card5{
	margin: 9rem auto 0;

	.info-card-video{
		border: none !important; 
		box-shadow: none; 
		width: 100%;
		
		.info-primary-overlay{
			align-content: center;
			border: none !important; 
			display: grid;
			// height: 100%; 
			// margin: 0 auto;
			// position: relative;
			// padding: 3rem;
			// border: 0px solid $lead-text; 	
			// width: 100%;
			z-index: 1;  
			video{
				border:none; 
				box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
				margin-left: -3em; 
				z-index: 0; 
				width: 110%;
			}
		}

		.info-primary-overlay:before{
			content: '';
			position: absolute;
			background: $primary-overlay; 
			top: 0;
			right: -59px;
			bottom: 0;
			left: -49px;
			z-index: 1; 
		}
	}
	.info-card-text{
		border: none !important; 
		margin: 15rem 41rem;
		opacity: 0.95; 
		top: -27em;
	}
}
