//styles.scss

//testing gulp sass
// .testing{
//     width: percentage(5/7); 
// }


$border: #dc3545;
$lead-text: #dc3545;
$lead-bg:#dc3545;
$background:#f8f9fa;  
$hover: #f46a60; 
$primary-overlay: rgba(82, 75, 76, 0.3);
$lead-font: 'Poppins', sans-serif; 
$title-font: 'Alegreya Sans', sans-serif;

*{  
	// background-color: rgba(0,255,0,0.1); 
	box-sizing: border-box;
    
}

html{
  font-size: 1rem; 
}

body{
	background: $background; 
	font-family: $lead-font; 
	font-size: 16px;
}

//NAVBAR
.navbar{
	box-shadow: 2px 2px 5px $border; 
  opacity: 0.9;
  background: $background;
	a{
		color:$lead-text !important;
		letter-spacing: 1px;  
		&:hover{
			color:$hover !important; 
		}
	}

	.nav-item{
		a{
			text-decoration: none;
			color:$lead-text !important; 
			&:hover{
				color:$hover !important; 
			}
		}  
	}
}

//HERO IMAGE
.showcase{
    background-image: url('../images/home-bg.jpeg'); 
    background-position: center; 
		background-size: cover; 
    height: 100%;
		min-height: 45rem;
		position: relative; 
    width: 100%; 
		
		.primary-overlay{
			align-content: center;	
			display: grid; 
			background: $primary-overlay; 
			position: absolute; 
			top: 0;
			left:0;
			width: 100%;
			height: 100%; 
		}

		h1,.lead{
			align-self: center;
			font-family: $title-font;
			height: 100%; 
			letter-spacing: 1px; 
			margin: auto;
			width: 60%;
			
		}
}


//INFO CARDS
.info-card, .info-card2, .info-card3, .info-card4{
	.card{
		box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
		border: 1px solid $border !important;
		border-radius: 0; 
		margin: -60px auto 30px;
		.card-title{
			font-family: $title-font;
			color: $lead-text;  
		} 
		.btn{
			background-color: $lead-bg; 
			border-radius: 0; 
		}
	}
}

.info-card2{
	position: relative; 
	.info-card-image2{
		border: none !important; 
		margin: 1rem auto 0;
		img{
			border-radius: 0; 
			box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
			position: absolute; 
			z-index: 0; 
		}	
	}
	.info-card-text{
		margin: 33rem 37rem 0;
		position: absolute; 
		z-index: 2; 
	}
}


.info-card3{
	position: relative;
	.info-card-image3{
		border: none !important;
		margin: 50rem auto 0;  
		position: relative; 
		 
		img{
			border-radius: 0; 
			box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
			position: absolute; 
			z-index: 0; 
		}	
	}
	.info-card-text {
		position: absolute;
		margin: 23rem 6rem 0;
		z-index: 2;  
	} 
}

.info-card4{
	margin: 60rem auto 30px;
}


	//CAROUSEL

.carousel{
	top: 49rem;
	.slider{
		margin: 0 auto; 
		width: 80%;
		.fa-arrow-circle-right{
			right:-60px;
		}

		.fa-arrow-circle-left{
			left:-60px; 
		}

		.fa-arrow-circle-right, .fa-arrow-circle-left{
			font-size:2rem; 
			padding: 0;
			position: absolute;
			top: 50%;
			display: block; 
			transform: translate(0, -50%); 
			cursor: pointer;
		}
		.slider-image{
			max-width: 100%; 
			img{
			
				align-items: center; 
				pointer-events: visible; 
				cursor: pointer;
				max-height: 100%;
				max-width: 100%; 
			}
		}
	}
}

//FOOTER 
footer{
	font-family: 'Lato', sans-serif;
	background: black;
	.fa{
		font-size: 1.3rem;
		color: $lead-text; 
	}
	.footer-links1, .footer-links2{
		a{
			text-decoration: none;
			color: white;

		}
	}
	.footer-links1{
		a{
			border-bottom: 1px solid $lead-text;
			padding-bottom: 3px; 
			line-height: 2px; 
		}
	}
	.rights{
		font-size: 13px; 
	}
}

// .carousel{
// 	margin:0 auto;
// 	max-width: 1024px;
// 	position: relative;

// 	.slider{
// 		.slider-image{
// 			align-items: center;
// 			box-sizing: border-box;
// 			display: flex;
// 			justify-content: center;
// 			padding: 10px;
// 			width: 924px;
// 			transition: all 300ms ease;
// 			opacity: .5;
// 			img{
// 				align-items: center; 
// 				box-shadow: -25px 12px 46px 0 rgba(0,0,0,0.27);
// 				display: block; 
// 				max-width: 100%;
// 				max-height: 100%;
// 				padding: 1rem;
				
// 			}
// 		}	
// 	} 	
// }






		
