//styles.scss

//testing gulp sass
// .testing{
//     width: percentage(5/7); 
// }

// @import 'infocards';
@import 'variables'; 
@import 'contact'; 

// pre {
//   -moz-tab-size: 2;
//   tab-size: 2;
// }

*{  
	background-color: rgba(0,255,0,0.1); 
	box-sizing: border-box;
	// overflow-x: hidden; 
    
}

html{
	font-size: 1rem;
	@media (max-width:$mobile){
     font-size: 0.9em; 
	}
	
}

body{
	background: $background; 
	display: flex;
	font-family: $lead-font; 
	flex-direction: column;
	// border:5px solid cyan; 
}

//NAVBAR
.navbar{
	// border: 5px solid pink; 
	// box-shadow: 2px 2px 5px $border; 
	// background: $background;
	background: transparent; 
	transition: background 500ms;
	opacity: 0.9; 

	.navbar-toggler {
    background:transparent;
    border: 1px solid $border;
		border-radius: 0.15rem;
		.icon{
			font-size: 1.5rem;
		}
	}
	
	
	a{
		color: white; 
		// color:$lead-text !important;
		letter-spacing: 1px;  
		&:hover{
			cursor: pointer;
		}
	}

	.nav-item{
		a{
			text-decoration: none;
			// color:$lead-text !important; 
			color: white; 
			&:hover{
				color:$hover !important; 
				border-bottom: 1px solid #f46a60; 
			}
		}  
	}
}

//HERO IMAGE
.showcase{
  background-image: url('../images/home-bg.jpeg'); 
  background-position: center; 
	background-size: cover; 
	min-height: 45rem;
	position: relative; 
	height: 100%; 
	width: 100%;
	top: 0;
	left: 0; 

	// @media (max-width:$mobile){   
	// }
  
		
		.primary-overlay{
			align-content: center;	
			background: $primary-overlay; 
			position: absolute; 
			top: 0;
			left:0;
			width: 100%;
			height: 100%; 
		}

		.display{
			margin-top: 15rem; 

			h1{
				@media (max-width:$mobile){
					font-size: 2.5rem; 
				}
			}

			h1,.lead{
				align-self: center;
				font-family: $title-font;
				height: 65%; 
				letter-spacing: 1px; 
				margin: auto;
				width: 100%;
				
			}

		}

}


//CAROUSEL
.carousel{
	height: 100%;
	min-height: 45rem;
	@media (max-width:$mdtablet){
		min-height: 0; 
		width: 100% !important; 
	}
	.slider{
		margin: 0 auto; 
		width: 80%;
		@media (max-width:$mobile){
			width: 100%; 
		}
		.fa-arrow-circle-right{
			right:-60px;
		}
		.fa-arrow-circle-left{
			left:-60px; 
		}
		.fa-arrow-circle-right, .fa-arrow-circle-left{
			font-size:2rem; 
			padding: 0;
			position: absolute;
			top: 50%;
			display: block; 
			transform: translate(0, -50%); 
			cursor: pointer;
			@media (max-width:$mdtablet){
				display: none !important; 
			}
		}
		.slider-image{
			max-width: 100%; 
			img{
				align-items: center; 
				display: block; 
				pointer-events: visible; 
				cursor: pointer;
				border-radius: 0; 
				margin: auto; 
				min-height: 40rem; 
				position: relative; 
				width: 80%; 
				z-index: 0;
				@media (max-width:$mdtablet){
					width: 100%; 
					min-height: 17rem; 
				}
			}
		}
	}
}

//FOOTER 
footer{
	background: black;
	font-family: 'Lato', sans-serif;
	// margin-top: -32rem; 
	.fa{
		font-size: 1.4rem;
		color: $lead-text; 
	}
	.footer-links1, .footer-links2{
		a{
			text-decoration: none;
			color: white;

		}
	}
	.footer-links1{
		a{
			border-bottom: 1px solid $lead-text;
			padding-bottom: 3px; 
			line-height: 2px; 
		}
	}
	.rights{
		font-size: 0.8rem; 
	}
}




// HOVER EFFECTS
// GROW
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}








		
